

<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
        </div>
        <div class="card-body">
         
         
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
        </div>
        <div class="card-body">
        </div>
      </div>
    </div>
  </div>

</div>

